html, body, h1, h2, h3, h4, h5, h6, p, pre, em, img, var,
b, u, i, center, ol, ul, li,form, label, footer, header, 
menu, nav, section, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, html {
	line-height: 1;
	font-family: Montserrat;
}

*,*:before,*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border:0;
}
a {
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}

